{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      <center>Hello, world!</center>
    </h1>
    <p class="lead">
      <center>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
        content or information.</center>
    </p>
    <p>
      <center>It uses utility classes for typography and spacing to space content out within the larger container.
      </center>
    </p>
    <p class="lead">
      <br>
      <center><a class="btn btn-primary btn-lg" href="/register" role="button">Join Us</a></center>
    </p>
  </div>
  

</div>






{% endblock %}